

<div>
  <form #loginForm="ngForm" (ngSubmit)="submitData(loginForm.value)">
    <div class="main">
      <div class="input-fields">
        <input name="name" ngModel placeholder="Nombre" id="name" type="text" class="input-field" />
      </div>
      <div class="input-fields">
        <input name="cost" ngModel placeholder="Costo" id="cost" type="number" class="input-field" />
      </div>
      <div class="input-fields">
        <input name="price" ngModel placeholder="Precio" id="price" type="number" class="input-field" />
      </div>
      <div class="input-fields">
        <input name="minimum" ngModel placeholder="Mínimo" id="minimum" type="number" class="input-field" />
      </div>
      <button>Create Data </button>
    </div>
  </form>
  <table border="1">
    <thead>
      <th>Nombre</th>
      <th>Precio</th>
    </thead>
    <tbody>
      <tr *ngFor="let product of dataProducts.products">
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
      </tr>
    </tbody>
  </table>
</div>


<router-outlet></router-outlet>
